@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 1.45;
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  color: rgb(51, 51, 51);
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  color: #663399;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 1.414rem;
  margin-bottom: 0.5rem;
  color: rgb(51, 51, 51);
  font-weight: 600;
  line-height: 1.27;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 600;
  margin-top: 0;
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #f5f3f7;
}
