@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans:
    'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

/* Ensure a tags behave exactly like they did */
@layer base {
  a {
    @apply text-[#663399] no-underline;
  }
  a:hover,
  a:focus {
    @apply underline;
  }
}
