---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="text-left font-sans text-[22px] w-full max-w-100 mx-auto mb-5">
    <span class="text-gray-400 font-mono mr-2">&gt;</span>Hello, I'm <h1 class="inline font-bold text-inherit">Jose Peleteiro</h1>.
    I&nbsp;make products and businesses. Sometimes with code, sometimes with people.<span class="animate-blink font-mono ml-1">|</span>
  </div>
  <ul
    class="flex items-center justify-center list-none my-2.5 mx-0 p-0 [&_a]:opacity-70 [&_a:hover]:opacity-100 [&_a]:transition-opacity [&_a]:duration-200">
    <li class="inline-block m-1.25">
      <a href="https://github.com/peleteiro/" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32">
          <path
            d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM25.502 25.502c-1.235 1.235-2.672 2.204-4.272 2.881-0.406 0.172-0.819 0.323-1.238 0.453v-2.398c0-1.26-0.432-2.188-1.297-2.781 0.542-0.052 1.039-0.125 1.492-0.219s0.932-0.229 1.438-0.406 0.958-0.388 1.359-0.633 0.786-0.563 1.156-0.953 0.68-0.833 0.93-1.328 0.448-1.089 0.594-1.781 0.219-1.456 0.219-2.289c0-1.615-0.526-2.99-1.578-4.125 0.479-1.25 0.427-2.609-0.156-4.078l-0.391-0.047c-0.271-0.031-0.758 0.083-1.461 0.344s-1.492 0.688-2.367 1.281c-1.24-0.344-2.526-0.516-3.859-0.516-1.344 0-2.625 0.172-3.844 0.516-0.552-0.375-1.075-0.685-1.57-0.93s-0.891-0.411-1.188-0.5-0.573-0.143-0.828-0.164-0.419-0.026-0.492-0.016-0.125 0.021-0.156 0.031c-0.583 1.479-0.635 2.839-0.156 4.078-1.052 1.135-1.578 2.51-1.578 4.125 0 0.833 0.073 1.596 0.219 2.289s0.344 1.286 0.594 1.781 0.56 0.938 0.93 1.328 0.755 0.708 1.156 0.953 0.854 0.456 1.359 0.633 0.984 0.313 1.438 0.406 0.95 0.167 1.492 0.219c-0.854 0.583-1.281 1.51-1.281 2.781v2.445c-0.472-0.14-0.937-0.306-1.394-0.5-1.6-0.677-3.037-1.646-4.272-2.881s-2.204-2.672-2.881-4.272c-0.7-1.655-1.055-3.414-1.055-5.23s0.355-3.575 1.055-5.23c0.677-1.6 1.646-3.037 2.881-4.272s2.672-2.204 4.272-2.881c1.655-0.7 3.415-1.055 5.23-1.055s3.575 0.355 5.23 1.055c1.6 0.677 3.037 1.646 4.272 2.881s2.204 2.672 2.881 4.272c0.7 1.655 1.055 3.415 1.055 5.23s-0.355 3.575-1.055 5.23c-0.677 1.6-1.646 3.037-2.881 4.272z"
            fill="#444444"></path>
        </svg>
      </a>
    </li>
    <li class="inline-block m-1.25">
      <a href="https://x.com/peleteiro/" aria-label="X" target="_blank" rel="noopener noreferrer">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32">
          <path
            d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM25.195 11.284c0.009 0.203 0.014 0.408 0.014 0.614 0 6.269-4.772 13.499-13.499 13.499-2.679 0-5.173-0.785-7.273-2.132 0.371 0.044 0.749 0.066 1.132 0.066 2.223 0 4.268-0.759 5.892-2.031-2.076-0.038-3.828-1.41-4.432-3.295 0.29 0.055 0.587 0.085 0.893 0.085 0.433 0 0.852-0.058 1.25-0.166-2.17-0.436-3.806-2.354-3.806-4.652 0-0.020 0-0.040 0-0.060 0.64 0.355 1.371 0.569 2.149 0.593-1.273-0.851-2.111-2.303-2.111-3.949 0-0.869 0.234-1.684 0.642-2.385 2.34 2.87 5.836 4.759 9.779 4.957-0.081-0.347-0.123-0.709-0.123-1.081 0-2.62 2.124-4.744 4.744-4.744 1.365 0 2.598 0.576 3.463 1.498 1.081-0.213 2.096-0.608 3.013-1.151-0.354 1.108-1.107 2.038-2.086 2.625 0.96-0.115 1.874-0.37 2.725-0.747-0.636 0.951-1.44 1.787-2.367 2.456z"
            fill="#444444"></path>
        </svg>
      </a>
    </li>
    <li class="inline-block m-1.25">
      <a href="https://www.linkedin.com/in/peleteiro" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 20 20">
          <path
            d="M10 0.4c-5.302 0-9.6 4.298-9.6 9.6s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6-4.298-9.6-9.6-9.6zM7.65 13.979h-1.944v-6.256h1.944v6.256zM6.666 6.955c-0.614 0-1.011-0.435-1.011-0.973 0-0.549 0.409-0.971 1.036-0.971s1.011 0.422 1.023 0.971c0 0.538-0.396 0.973-1.048 0.973zM14.75 13.979h-1.944v-3.467c0-0.807-0.282-1.355-0.985-1.355-0.537 0-0.856 0.371-0.997 0.728-0.052 0.127-0.065 0.307-0.065 0.486v3.607h-1.945v-4.26c0-0.781-0.025-1.434-0.051-1.996h1.689l0.089 0.869h0.039c0.256-0.408 0.883-1.010 1.932-1.010 1.279 0 2.238 0.857 2.238 2.699v3.699z"
            fill="rgb(68, 68, 68)"></path>
        </svg>
      </a>
    </li>
    <li class="inline-block m-1.25">
      <a href="https://instagram.com/peleteiro" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32">
          <path
            d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM22.5 16c0 3.59-2.91 6.5-6.5 6.5s-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5zM22 10.5c-0.828 0-1.5 0.672-1.5 1.5s0.672 1.5 1.5 1.5 1.5-0.672 1.5-1.5-0.672-1.5-1.5-1.5zM16 11.5c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.015-4.5-4.5-4.5zM25 21.5c0 1.933-1.567 3.5-3.5 3.5h-11c-1.933 0-3.5-1.567-3.5-3.5v-11c0-1.933 1.567-3.5 3.5-3.5h11c1.933 0 3.5 1.567 3.5 3.5v11z"
            fill="#444444"></path>
          <path
            d="M16 12.5c-1.933 0-3.5 1.567-3.5 3.5s1.567 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.567-3.5-3.5-3.5zM25 9.5c0-1.381-1.119-2.5-2.5-2.5h-13c-1.381 0-2.5 1.119-2.5 2.5v13c0 1.381 1.119 2.5 2.5 2.5h13c1.381 0 2.5-1.119 2.5-2.5v-13zM23.5 22.5c0 0.552-0.448 1-1 1h-13c-0.552 0-1-0.448-1-1v-13c0-0.552 0.448-1 1-1h13c0.552 0 1 0.448 1 1v13z"
            fill="#fff"
            opacity="0.001"></path>
        </svg>
      </a>
    </li>
    <li class="inline-block m-1.25">
      <a href="mailto:jose@peleteiro.net" aria-label="Email">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32">
          <path
            d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM8 8h16c0.286 0 0.563 0.061 0.817 0.177l-8.817 10.286-8.817-10.287c0.254-0.116 0.531-0.177 0.817-0.177zM6 22v-12c0-0.042 0.002-0.084 0.004-0.125l5.864 6.842-5.8 5.8c-0.045-0.167-0.069-0.34-0.069-0.517zM24 24h-16c-0.177 0-0.35-0.024-0.517-0.069l5.691-5.691 2.826 3.297 2.826-3.297 5.691 5.691c-0.167 0.045-0.34 0.069-0.517 0.069zM26 22c0 0.177-0.024 0.35-0.069 0.517l-5.8-5.8 5.865-6.842c0.003 0.041 0.004 0.083 0.004 0.125v12z"
            fill="#444444"></path>
        </svg>
      </a>
    </li>
  </ul>
  <hr class="relative my-6 mx-0 border-0 border-t border-solid border-[#f5f3f7]" />
</Layout>
