@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

//= require lib/normalize

body {
  font-family: 'Droid Serif';
}

.remark-slide-content {
  font-size: 20pt;
  line-height: 1.27em;
}

.remark-slide-number {
  font-size: 0.5em;
}

h1, h2, h3 {
  letter-spacing: 0.05em;
  line-height: 1.27em;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 20px;
}

.alert {
  font-size: 1.5em;
  color: #9F6000;
  background-color: #FEEFB3;
}

h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 1.6em; }

ul {
  li {
    padding-bottom: 10px;
  }
}

.chapter, .inverse {
  background: #272822;
  color: #777872;

  h1, h2 {
    color: #f3f3f3;
  }
}

.chapter {
  vertical-align: middle;
  text-align: center;

  h1 {
    font-size: 3.5em;
    color: #F92672;
  }
}

img {
  max-width: 100%;
}

.right img {
  max-width: 300px;
}

.top.right img {
  margin-top: 50px;
}

.remark-slide-content {
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
}

pre {
  border-left: 0.4em solid #d7d7d7;
  padding: 1em !important;
}

code {
  font-family: 'Ubuntu Mono';
  background: transparent !important;
}

a {
  color: #F92672;
  text-decoration: none;
}

.task {
  float: right;
  font-size: 0.9em;
  padding-top: 0.6em;
}

.task a {
  color: #080;
  text-decoration: none;
}

.right {
  float: right;
  margin-left: 1em;
}

.pushdown {
  margin-top: 12em;
}
