<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="{{ site.url }}{{ page.url }}">
    <title>{{ page.title | strip_html }}</title>
    {% stylesheet remark %}
  </head>
  <body>
    <textarea id="source">
{{ content }}
    </textarea>
    {% javascript remark %}
    <script type="text/javascript">
      var slideshow = remark.create({
        navigation: {
          scroll: false
        },
        slideNumberFormat: '%current%/%total%',
        countIncrementalSlides: false
      });
    </script>
  </body>
</html>
